<div class="col-sm-4 col-md-4">
    <table class="table table-bordered">
        <tr>
            <th>Order List</th>
        </tr>
        <tr *ngFor="let o of orderList">
            <td>
                {{ o.productName }} | {{ o.price }} | {{ o.qty }}
                <div class="pull-right">
                    <button class="btn btn-primary" (click)="addOrder(o.productId)">+</button>
                    <button class="btn btn-primary" (click)="removeOrder(o.productId)">-</button>
                </div>
            </td>
        </tr>
    </table>
</div>