<nav class="navbar navbar-default" style="border-radius: 0; margin-bottom:0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                User Registration Form
            </a>
        </div>
    </div>
</nav>
<div class="user-registration">
    <div class="form-group row">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Enter your name" [(ngModel)]="newName">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Enter your address" [(ngModel)]="newAddress">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label" >Email</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Enter your email" [(ngModel)]="newEmail" >
        </div>
    </div>
    <div class="" style="text-align: right">
        <button class="btn btn-primary" (click)="registerUser()">Add</button>
    </div>
</div>