<p>
  api works!
</p>

<button (click)="addUser()" >Add New User</button>

<div class="container">
  <table class="table table-bordered table-striped">
    <tr>
      <th>Data</th>
    </tr>
    <tr *ngFor="let d of data">
      <td>
        {{ d.address.street }}
      </td>
    </tr>
  </table>
</div>
