<!--<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="...">
            </a>
        </div>
    </div>
</nav>
<div>
    Total : {{ total }}
</div>
<div class="container-fluid">
    <div class="row">
        <app-order [order]="orderList" (total)="setTotal($event)" ></app-order>
        <app-product [product]="productList" [order]="orderList" (total)="setTotal($event)" ></app-product>
        
    </div>
</div>-->



<!--<div class="container">
    <app-user-registration [user]="userList" ></app-user-registration>
    <app-user-list [user]="userList" ></app-user-list>
</div>-->

<app-api></app-api>





