<div class="col-sm-8 col-md-8">
    <div class="row">
        <div class="col-sm-4 col-md-4" *ngFor="let p of productList">
            <div class="thumbnail">
                <img src="{{ p.img }}" alt="Product">
                <div class="caption">
                    <h5 class="pull-right">Rp. {{ p.price }}</h5>
                    <h5>{{ p.name }}</h5>
                    <p>{{ p.desc }}</p>
                    <button class="btn btn-primary" (click)="buy(p.id)">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>