<nav class="navbar navbar-default" style="border-radius: 0; margin-bottom:0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                List of User
            </a>
        </div>
    </div>
</nav>
<div class="user-list">
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID.</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th></th>
        </tr>
        <tr *ngFor="let u of userList; index as i">
            <td>{{ u.id }}</td> 
            <td>{{ u.name }}</td> 
            <td>{{ u.address }}</td> 
            <td>{{ u.email }}</td> 
            <td style="text-align: center">
                <button class="btn btn-danger" (click)="removeUser(i)" >Remove</button>
            </td>
        </tr>
    </table>
</div>